.uznemejiem-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.uznemejiem-page h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2F4858;
    margin-top: 205px;
}
.uznemejiem-page div:nth-child(2){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2F4858;
    width: 810px;
    height: 49px;
    margin-top: 60px;
}
footer{
    margin-top: 150px;
}